@import url(reset.css);

div.p {
  color: blue;
}
img {
  height: 300px;
  width: 400px;
}

li {
  color: blueviolet;
}

li.capital {
  color: green;
}

img.style {
  height: 500px;
}

.kyiv {
  color: aqua;
}
