/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700");
@import url("fonts.css");*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700");
body {
  font-family: "Manrope", sans-serif;
  color: #000;
}

.wrapper {
  /* display: inline-block; */
  min-height: 100%;
  overflow: hidden;
}
.navigation {
  height: 40px;
  background-color: #4a3aff;
}
a:hover {
  background-color: #ef6d58;
  text-decoration: underline;
}
h1 {
  text-align: center;
  text-decoration: underline;
  font-size: large;
  background-color: aqua;
}

.first-section {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  padding-block: 106px;
  margin-top: 20px;
}

.first {
  max-width: 890px;
  margin: 0 auto;
}

.first-item:not(:last-child) {
  margin-bottom: 54px;
}

.first-num {
  display: inline-block;
  width: 218px;
  height: 218px;
  text-align: center;
  background-color: rgba(74, 58, 255, 0.1);
  border-radius: 50%;

  color: #4a3aff;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  line-height: 240%;

  margin-right: 37px;
  vertical-align: middle;
}

.first-content {
  display: inline-block;
  max-width: 630px;
  vertical-align: middle;
}

.first-content > *:not(:last-child) {
  margin-bottom: 8px;
}

.first-date {
  color: #4a3aff;
  font-size: 20px;
  font-weight: 700;
  line-height: 110%;
}

.first-title {
  color: #1e1b39;
  font-size: 42px;
  font-weight: 700;
  line-height: 128.571%;
}

.first-title::after {
  content: "";
  width: 43px;
  height: 43px;
}

.first-text {
  color: #6e6c83;
  font-size: 24px;
  line-height: 175%;
}

.second-section {
  font-family: "DM Sans", sans-serif;
  max-width: 1271px;
  height: 617px;
  background-color: #fff;
  margin: 0 auto;
}
.second-container {
  width: 542.983px;
  height: 100%;
  border-radius: 56px;
  background-color: #f0f0f6;

  padding: 24px 24px 322px 24px;
  margin: auto;
}
.second-price {
  width: 494.98px;
  height: 271.17px;
  border-radius: 34px;
  background: #4a3aff;
  text-align: center;
  margin: auto;
}

.price-title {
  color: #fff;
  font-family: "DM Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 32px; /* 106.667% */
  padding-top: 44.6px;
  opacity: 0.6;
}
.price-sum {
  color: #fff;
  font-family: "DM Sans";
  font-size: 116px;
  font-weight: 700;
  line-height: 120px; /* 103.448% */
  padding: 0;
}
.price-text {
  color: #fff;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 22px; /* 110% */
  opacity: 0.9;
}
.second-price:hover {
  background-color: #6e6c83;
}

.price-item {
  color: #1e1b39;
  font-size: 28px;
  line-height: 136%;
}

li:first-child {
  margin-top: 26px;
}
.price-item:not(:last-child) {
  margin-bottom: 26px;
}

.price-item::before {
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: url("../img/check.png") 0 0 / 100% no-repeat;
  vertical-align: middle;
  margin-right: 14px;
}
.third-section {
  font-family: "Epilogue";
  padding-block: 106px;
}

.third-container {
  max-width: 570px;
  margin: 0 auto;
  line-height: 32px;
}

.third-image {
  max-width: 100%;
}

.third-image:not(:last-child) {
  margin-bottom: 74px;
}

.title:not(:last-child) {
  margin-bottom: 51px;
}

.title > *:not(:last-child) {
  margin-bottom: 32px;
}

.third-title {
  color: #391400;
  font-size: 20px;
  line-height: 160%;
  /* 32/20 */
}

.third-text {
  color: rgba(57, 20, 0, 0.64);
  line-height: 200%;
}

.third-image:not(:last-child) > * {
  margin-bottom: 34px;
}

.third-content:not(:last-child) {
  margin-bottom: 65px;
}
.content-text {
  color: rgba(57, 20, 0, 0.64);

  font-family: Epilogue;
  font-size: 16px;

  line-height: 32px; /* 200% */
}

.content-title {
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
  margin-bottom: 35px;
}

.third-list {
  margin-bottom: 32px;
}

.third-item {
  color: #391400;
  line-height: 200%;
}

.third-list .third-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ef6d58;
  margin-right: 16px;
}

.third-content > *:last-child {
  margin-bottom: 0px;
}
.content-list {
  margin-bottom: 32px;
}
.third-provide {
  font-size: 20px;
  line-height: 160%;
  color: #391400;
  border-radius: 6px;
  background: #f9e5da;
  padding: 42px 32px 32px 32px;
}

.third-provide:not(:last-child) {
  margin-bottom: 76px;
}

.third-provide p {
  padding-left: 80px;
  background: url("../img/shape.png") 0 0 / 48px no-repeat;
}

.production {
  color: aqua;
  text-align: center;
}
