/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700");
@import url("fonts.css");*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700");
body {
  font-family: "Manrope", sans-serif;
  color: #000;
  text-align: center;
}

.wrapper {
  /* display: inline-block; */
  min-height: 100%;
  overflow: hidden;
  font-family: "Epilogue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #391400;
}
.block {
  max-width: 80%;
  background-color: #fdf0e9;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-inline: auto;
  padding: 10px;
  text-align: left;
}
.block:hover {
  background-color: #f6af8a;
}
.some-class {
  display: inline-block;
}
.man {
  width: 85%;
}
.some-class .img {
  min-width: 30px;
  min-height: 50px;
}
.h1 {
  text-decoration: underline;
  font-size: large;
  background-color: aqua;
}

p {
  display: inline-block;
  padding-left: 25px;
}
img {
  vertical-align: middle;
}

.production {
  color: aqua;
}
