/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700");
@import url("fonts.css");
@import url("reset.css");

body {
  background-color: burlywood;
}
h1 {
  color: brown;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}

.block-one {
  font-family: "Roboto", sans-serif;
  background-color: white;
  max-width: 539px;
  margin: auto;
}
.landing-title {
  color: #091133;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  height: 132px;
  letter-spacing: 1px;
}
.landing-text {
  color: #505f98;
  font-family: Roboto;
  font-size: 18px;
  line-height: 166.66%;
  height: 164px;
  margin-top: 20px;

  width: 539px;
}
.button-container {
  margin-top: 74px;
  font-size: 0;
}

button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  background-color: #091133;
  margin-right: 30px;
  min-width: 189px;
  padding-block: 5px;
}
.block-two {
  font-family: "Roboto", sans-serif;
  background-color: white;
  max-width: 520px;
  height: 629;
  margin-top: 10%;
  margin-left: 30%;
  margin-bottom: 20%;
}
.design-title {
  color: #091133;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  height: 132px;
  letter-spacing: 1px;
}
.design-text {
  color: #505f98;
  font-family: Roboto;
  font-size: 18px;
  line-height: 166.66%;
  height: 164px;
  margin-top: 20px;
  width: 520px;
}

.containers {
  margin-top: 10%;
  display: table;
}
.design-img {
  max-width: 36px;
  margin-bottom: 14px;
}
.design-h3 {
  color: #091133;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  margin-bottom: 6px;
}
.container-one {
  width: 50%;
  display: inline-block;
  margin-bottom: 30px;
  padding-inline: 15px;
  vertical-align: top;
}
.container-text {
  color: #5d6970;
  font-size: 12px;
  line-height: 1.5; /* 150% */
}
.block-three {
  background-color: black;
  max-width: 1597px;
}
.conteiners-dark {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  background-color: #141414;
  padding-block: 150px;
  color: #999;
  margin-bottom: 50px;
}
.dark-blocks {
  display: table;
}
.dark-title-block {
  max-width: 1297px;
  margin-bottom: 80px;
}
.dark-title {
  color: #fff;
  font-family: Manrope;
  font-size: 38px;
  font-weight: 700;
  line-height: 150%; /* 57px */
  margin-bottom: 14px;
  max-height: 57px;
}

.dark-text {
  color: #999;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  max-height: 54px;
}
.dark-blocs {
  display: inline-block;
  margin-inline: -15px;
  font-size: 0;
}
.dark-bloc {
  display: inline-block;
  width: 33.33%;
  padding-inline: 15px;
  margin-bottom: 30px;
  vertical-align: top;
}
.dark-content {
  padding: 50px;
  border-radius: 12px;
  border: 1px solid var(--Black-15, #262626);
  background: linear-gradient(
      222deg,
      rgba(229, 0, 0, 0.5) -208.03%,
      rgba(229, 0, 0, 0) 41.32%
    ),
    #0f0f0f;
}
.dark-header {
  margin-bottom: 30px;
}
.dark-img {
  margin-right: 16px;
  vertical-align: middle;
}
.dark-img img {
  max-width: 73px;
}

.dark-header h3 {
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5; /* 150% */
}
.dark-content p {
  color: #999;
  font-size: 18px;
  line-height: 1.5; /* 150p% */
}
.production {
  color: aqua;
  text-align: center;
}
