/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap"); */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url("reset.css");

body {
  font-family: "Times New Roman", Times, serif;
}

.lesson h1 {
  color: brown;
  text-align: center;
  font-style: oblique;
  text-decoration-line: underline;
}

.lesson .p {
  color: blue;
  font-weight: bold;
}
h2 {
  text-align: end;
  text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-line: overline;
}
.biography {
  color: bisque;
}

li {
  color: blueviolet;
  text-shadow: 5px 5px red;
}

img.style {
  height: 500px;
}

h3 {
  font-style: italic;
}

.personal_title {
  color: var(--Gray-900, #132238);
  font-family: "Work Sans";
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
.personal_text {
  color: var(--Gray-600, #556070);

  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.landing_title {
  color: var(--Colour-Main-Blue-900, #091133);
  font-feature-settings: "liga" off, "clig" off;

  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
}
.landing_text {
  color: var(--Colour-Main-Blue-500, #505f98);
  font-feature-settings: "liga" off, "clig" off;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.business_title {
  color: var(--Neutral-Colors-Color-800, #1e1b39);
  font-feature-settings: "liga" off, "clig" off;

  font-family: "DM Sans";
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px;
}
.business_text {
  color: var(--Neutral-Colors-Neutral-700, #474464);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}
